fastapi==0.135.1
uvicorn[standard]==0.41.0
python-dotenv==1.2.2

# auth
clerk-backend-api==5.0.2
svix==1.86.0

# types
pydantic==2.12.5
pydantic-settings==2.13.1
python-multipart==0.0.22

httpx==0.28.1

# Database
sqlalchemy[asyncio]==2.0.41
asyncpg==0.29.0
alembic==1.14.1

# Cloudflare R2
boto3==1.37.0

# ORM + Validation (Pydantic + SQLAlchemy combined)
sqlmodel==0.0.22
